/* centro 1 */
.centro {
    display: flex;
    flex-direction: column; /* Deixa um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Opcional: centraliza verticalmente */
}

#meuBotao {
    display: flex;
    color: white;
    background-color: blueviolet;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
   
}

#contador {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* centro 2 */

.centroTwo {
    display: flex;
    flex-direction: column; /* Deixa um embaixo do outro */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Opcional: centraliza verticalmente */
}
#btn {
    display: flex;
    color: white;
    background-color: rgb(226, 43, 183);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

/* lateral */

.container {
    display: flex;
    color: white;
    background-color: rgb(226, 43, 43);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

#adicionar {
    
    color: white;
    background-color:rgb(226, 165, 43);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#remover {
    color: white;
    background-color: rgb(226, 165, 43);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
